name: Validate for PR
on:
  push:
    branches:
      - main
      - master
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-go@v4
        with:
          go-version: '1.21.6'
          cache: true

      - name: Install dependencies
        run: make deps
      - name: Unit test
        run: make ci-test
      - name: Check documentation
        run: make check-docs
      - name: Acceptance test
        run: make acceptance-test
      - name: Collate coverage data
        run: make coverage-report
      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v3
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: tmp/coverage/ci-test.txt,tmp/coverage/acceptance.txt
          verbose: true
  check-release:
    name: Check release
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-go@v4
      with:
        go-version: '1.21.6'
        cache: true
    - name: Check release build
      uses: goreleaser/goreleaser-action@v6
      with:
        distribution: goreleaser
        version: latest
        args: build --clean --skip=validate --snapshot